body {
    background: rgb(162, 114, 191);
    font-family:Tahoma, sans-serif;
}

.assignment { 
    display: flex;
    padding: 10px;
    margin: 10px;
    background: lavenderblush;
}

.assignment img {
    width: 400px;
    padding: 10px;
}


h1 {
    color:rgb(51, 5, 94);
    text-align:center;
}