body {
    background: rgb(162, 114, 191);
    font-family:Tahoma, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment { 
    width:30%;
    padding: 15px;
    margin: 10px;
    padding:20px 10px;
    background: lavenderblush;
    box-shadow: 6px 6px 0 rgb(51, 5, 94);
}

.assignment img {
    width: 370px;
    padding: 15px;
    border: 2px solid #87ab64;
    display:block;
    margin:auto;
}

.assignment img:hover {
    border: 4px dashed #87ab64;
}

h1 {
    color:rgb(51, 5, 94);
    text-align:center;
}

h2 {
    text-align:center;
}

a {
    color:rgb(51, 5, 94);
    text-decoration:none;
}

a:hover {
    color:#87ab64;
}
